Repository jinto-ag/ts-nx-preset: changes, and which lint-staged commands are due for each by the changed paths.
All: node tools/nx-affected-filter.js lint, pnpm exec prettier --write, node tools/nx-affected-filter.js format:styles

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "node tools/nx-affected-filter.js lint",
    "pnpm exec prettier --write"
  ],
  "*.{json,md}": [
    "pnpm exec prettier --write"
  ],
  "*.{css,scss}": [
    "node tools/nx-affected-filter.js format:styles",
    "pnpm exec prettier --write"
  ],
  "*.html": [
    "pnpm exec prettier --write"
  ]
}

chore(workspace): Prepare beta release environment
  CHANGELOG.md
  README.md
  nx.json
Due: pnpm exec prettier --write

chore(release): Prepare 0.1.0-beta.1 release
  .gitignore
  nx.json
  package.json
  tools/setup-github-release.sh
  version.json
Due: pnpm exec prettier --write

chore(release): Publish {version}
  nx.json
Due: pnpm exec prettier --write

chore(deps): Add dependency management automation
  .github/dependabot.yml
  package.json
  tools/nx-update.sh
Due: pnpm exec prettier --write

fix(tools): Improve nx-update script to correctly detect package updates
  tools/nx-update.sh
Due: none

fix(tools): Improve nx-update script to correctly detect package updates (#3)
  tools/nx-update.sh
Due: none

chore(dependencies): Upgraded dependencies to latest version
  .gitignore
  migrations.json
  nx.json
  package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

ci(package-manager): Updated the package manager version
  .github/workflows/ci.yml
  package.json
Due: pnpm exec prettier --write

chore(dependencies): Upgraded dependencies to latest version (#8)
  .github/workflows/ci.yml
  .gitignore
  migrations.json
  nx.json
  package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

docs(project): Add project initialization docs and update instructions
  .gitignore
  README.md
  docs/features/project-initialization.md
  docs/readme.md
  package.json
  pnpm-lock.yaml
  tools/initialize.ts
Due: node tools/nx-affected-filter.js lint, pnpm exec prettier --write

Update package.json
  package.json
Due: pnpm exec prettier --write

Update README.md
  README.md
Due: pnpm exec prettier --write

docs(project): Add project initialization docs and update instructions (#10)
  .gitignore
  README.md
  docs/features/project-initialization.md
  docs/readme.md
  package.json
  pnpm-lock.yaml
  tools/initialize.ts
Due: node tools/nx-affected-filter.js lint, pnpm exec prettier --write

chore(release): Publish 0.1.0
  CHANGELOG.md
  README.md
  package.json
  version.json
Due: pnpm exec prettier --write

chore(release): Publish 0.1.0 (#11)
  CHANGELOG.md
  README.md
  package.json
  version.json
Due: pnpm exec prettier --write
